.cart-container {
  display: flex;
  background: linear-gradient(180deg, #fde1ff 0%, #e1ffea22 60%);
  color: red;
}

.cart-details {
  flex-shrink: 0;
  width: 70%;
  padding: 20px;
  color: blue;
}

.cart-table {
  width: 100%;
  margin-top: 20px;
  color: red;
}

.cart-table td {
  padding: 8px;
}

.cart-summary {
  margin-top: 20px;
  background: linear-gradient(180deg, #fde1ff 0%, #e1ffea22 60%);
  color: red;
}

.checkout-button {
  background-color: #0e39d5;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
