.roundedImage {
  border-radius: 50%;
}

.productInfo {
  margin-left: 10px;
}

.cartTable {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 20px;
}

.cartTable th,
.cartTable td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
}

.cartTable th {
  background-color: #f2f2f2;
}

.cartSummary {
  margin-top: 20px;
}
.productImage {
  width: 10px;
  height: 10px;
  object-fit: cover; /* This ensures that the image retains its aspect ratio */
}
