.container {
  margin-left: 15px;
  display: grid;
  align-items: center;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  column-gap: 10px;
}

.productCard {
  border: 1px solid #ddd;
  padding: 10px;
  margin-bottom: 10px;
}

.productName {
  font-size: 1.5rem;
  margin-bottom: 5px;
}

.productDescription {
  margin-bottom: 10px;
}

.productPrice {
  font-size: 1.2rem;
}

.addToCartButton {
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 8px 12px;
  cursor: pointer;
}
