.container {
  margin-left: 15px;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 40px;
  margin-bottom: 350px;
}

.productCard {
  border: 1px solid #ddd;
  padding: 10px;
  margin-bottom: 20px; /* Increased margin for better separation */
}

.productName {
  font-size: 1.5rem;
  margin-bottom: 5px;
}

.productDescription {
  margin-bottom: 10px;
}

.imageContainer {
  position: relative;
  overflow: hidden;
  border-radius: 5px;
}

.productImage {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: flex;
}

.productPrice {
  font-size: 1.2rem;
}

.buttonsContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 10px;
}

.addToCartButton,
.addToWishlistButton {
  background-color: #ec33ab;
  color: #fff;
  border: none;
  padding: 8px 12px;
  cursor: pointer;
}

.addToWishlistButton::before {
  content: "❤️";
  margin-right: 5px;
}
