.Container {
  display: flex;
  flex-direction: row;

  width: 20px;
  gap: 10px;
  height: 10vh;
}

.collectionTitle {
  font-size: 24px;
  text-align: center;
  color: #333;
  margin-bottom: 10px;
}

.hrLine {
  width: 200px;
  height: 6px;
  border-radius: 10px;
  background: black;
}

.collections {
  display: flex;
  gap: 20px;
}
.collections img {
  width: 500px; /* Set the fixed width for the images */
  height: 500px; /* Set the fixed height for the images */
  object-fit: cover; /* Maintain aspect ratio and cover the container */
  margin-right: 10px;
}
